/* Gradient backgrounds for post cards */
.gradient-blue {
  background: linear-gradient(135deg, #0084d6 0%, #005a9e 100%);
}

.gradient-gray {
  background: linear-gradient(135deg, #bcc5ce 0%, #8393a7 100%);
}

.gradient-yellow {
  background: linear-gradient(135deg, #ffc837 0%, #ff8008 100%);
}

.gradient-teal {
  background: linear-gradient(135deg, #00b09b 0%, #007d8a 100%);
}

.gradient-green {
  background: linear-gradient(135deg, #56ab2f 0%, #267d1e 100%);
}

.gradient-orange {
  background: linear-gradient(135deg, #ff7e5f 0%, #e85c39 100%);
}

.gradient-pink {
  background: linear-gradient(135deg, #ec008c 0%, #b9017a 100%);
}

.gradient-purple {
  background: linear-gradient(135deg, #8e44ad 0%, #673195 100%);
}

.gradient-turquoise {
  background: linear-gradient(135deg, #00a5b5 0%, #007183 100%);
}

.gradient-lime {
  background: linear-gradient(135deg, #9dc715 0%, #7c9c18 100%);
} 